:root {
  --color-dark-red: #690316;
  --color-accent: #dcafac;

}

body {
  font-family: 'Poppins', Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  line-height: 1.45;
}

.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;

  z-index: 1000;
  border-radius: 12px 12px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

header,
footer {
  color: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background: #690316;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  height: 90px;
  overflow: visible;
  width: 100%;

}

header h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  z-index: 1000;
  color: #fff;
}

.site-title {
  display: none;
}

header .logo img {
  height: 90px;
  width: 90px;
  border-radius: 30%;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

header .logo img:hover {
  transform: scale(1.12);
  box-shadow: 0 0 15px rgba(165, 10, 10, 0.6);
  border-radius: 50%;
}

header nav {
  display: flex;
  align-items: center;
  gap: 22px;
  position: relative;
  z-index: 2000;
}

header nav a img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  padding: 5px;
  transition: transform 0.3s ease;
}

header nav a img:hover {
  transform: scale(1.18);
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  position: relative;
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #e7e2de;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: #fff;
  min-width: 150px;
  top: 120%;
  left: 0;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  z-index: 999;
}

.dropdown-content a {
  color: var(--color-dark-red);
  padding: 10px 15px;
  display: block;
  text-decoration: none;
}

.dropdown-content a:hover {
  background: #f4c2c2;
}

.dropdown:hover .dropdown-content {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
  position: relative;
  font-family: 'Merriweather', serif;
  overflow: hidden;

}

.media img {
  width: 100%;
  max-height: 600px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  object-fit: cover;
  margin-top: 5%;


}

.media h2 {
  position: absolute;
  margin: 0;
  font-size: 4.0rem;
  font-weight: 900;
  color: #fff;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  padding: 20px;



}

.media h3 {
  position: absolute;
  margin: 0;
  font-size: 1.0rem;
  font-weight: 300;
  color: #fff;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
  border-radius: 8px;
  padding: 0;
  top: 55%;

}

.filter-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background: #690316;
  padding: 10px;
  border-radius: 8px;

}

.filter-btn {
  padding: 20px;
  border: none;
  background: #690316;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  width: 10%;
  height: 5%;
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.filter-btn:hover {
  background: #dcafac;
  color: #690316;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 20px 0;
}

.page-btn {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: none;
  background: #690316;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.page-btn:hover {
  background: #dcafac;

}

.page-btn.active {
  background: #555;
}

.food-section {
  padding: 2rem;
  text-align: center;
  color: var(--color-dark-red);
  background: white;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.25);
  margin-top: 2rem;
}

.food-section h1 {
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  text-align: center;
  color: var(--color-dark-red);
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.food-section h1::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  height: 3px;
  background: var(--color-dark-red);
  border-radius: 2px;
}

.food-section h1::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -150%;
  width: 80%;
  height: 200%;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  transform: rotate(25deg);
  filter: blur(12px);
  animation: curvedShine 6s ease-in-out infinite;
}

.food-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-items: center;
  padding: 20px;
}

.food-card {
  width: 250px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.12);
  padding: 12px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.food-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: auto;
}

.food-name {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-dark-red);
  padding: 0px;
}

.canteen-name {
  padding: 0;
  margin: 0;
  font-size: 0.85rem;
  color: #777;
}

.price-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 1rem;
  font-weight: bold;
  color: var(--color-dark-red);
}

.food-card:hover {
  transform: translateY(-5px);
}

.food-card h3 {
  margin: 8px 0 4px;
  font-size: 1.1rem;
  color: var(--color-dark-red);
}

.food-card p {
  margin: 4px 0;
  font-size: 0.9rem;
  color: #555;
}

.add-btn {
  margin-top: 10px;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background: var(--color-dark-red);
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.add-btn:hover {
  background: var(--color-accent);
  color: var(--color-dark-red);
}

footer {
  background-color: var(--color-dark-red);
  text-align: center;
  padding: 18px 0;
  margin-top: 50px;
  border-radius: 10px 10px 0 0;
  font-size: 0.95rem;
  letter-spacing: 0.5px;

}

@media (max-width: 1024px) {
  .container {
    padding: 0 12px;
    margin-top: 8%;
  }

  header {
    padding: 0 16px;

  }

  header h1 {
    font-size: 1.4rem;
    left: 44%;
  }

  header nav {
    gap: 16px;
  }

  .media {
    width: 98%;
    height: 400px;
    padding: 12px;
  }

  .food-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .food-card img {
    width: 100%;
    height: 150px;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    height: auto;
    padding: 10px;
    text-align: center;
  }

  .header-overlay {
    height: auto;
    padding: 12px 0;
  }

  .site-title {
    display: flex;
    font-size: 20px;
    margin-bottom: 10px;
  }

  header h1 {
    display: none;
  }

  header .logo img {
    display: none;
  }

  header nav {
    flex-wrap: wrap;
    gap: 10px;
    font-size: 13px;
    justify-content: center;
  }

  .media {
    height: 300px;
    margin-top: 15%;
  }

  .media h2 {
    font-size: 3.0rem;
  }

  .food-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    justify-items: center;
    padding: 0px;
    margin: 0;
  }

  .food-card {
    width: 85%;
    left: 0%;
    margin: 0px 20px;



  }

  .food-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: auto;
  }


  .filter-btn:hover {
    width: 15%;
  }
}

@media (max-width: 480px) {
  .container {
    width: 96%;
    margin-top: 40%;
    padding: 0 8px;
  }

  .header-overlay {
    background-color: var(--color-dark-red);
    border-radius: 0;
  }

  header {
    background-color: var(--color-dark-red);

  }

  nav a {
    font-size: 0.8rem;
  }

  .dropdown-content {
    min-width: 100px;
    font-size: 0.8rem;
  }

  .media {
    width: 100%;
    height: 220px;
    margin: 0;
    margin-top: 15%;
    padding: 0;
  }

  .media h3 {
    font-size: 10px;
  }

  .media h2 {
    font-size: 22px;
  }

  .food-card {
    flex: 0 0 85%;
    max-width: 200px;
  }

  .food-card img {
    height: 120px;
  }

  .food-name {
    font-size: 0.95rem;
  }

  .canteen-name {
    font-size: 0.75rem;
  }

  .price {
    font-size: 0.9rem;
  }

  .filter-btn:hover {
    width: 15%;
  }

  .filter-btn {
    gap: 5px;
    padding: 10px;
    font-size: 12px;
    padding-left: 0;
    padding-right: 0;
  }

  footer {
    font-size: 14px;
    padding: 12px 0;
  }
}